body {
	margin:0px;
}
nav {
	background-color:#4287f5;
}

li, a{
	display: inline-block; 
	text-decoration: none; 
	font-size:30px;
	padding: 5px 5px;
	color:black; 
}

li,a:hover{
	color:red;
}

.content{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

h1 {
	font-family: fantasy;
	font-size:40px;
	border-bottom:4px solid #f5d142;
	text-align:center;
	box-shadow: 4px 4px 5px #888888;
}

img{
	width: 450px;
	height: 300px; 
	margin:10px;
	border:5px solid green; 
	transition: all 1s;
}

img:hover {
	transform:scale(1.1);
}


